.mbar {
    background-color: #38B6FF; /* Set the background color to blue */
    /* text-align: center; Center-align text */
    /* padding: 20px; Add some padding for better spacing */
    min-height: 100px;
    word-spacing: 50px;
    
    
}

header {
    position: relative; /* Keep header relative */
}
.bar{
    background-color: #FB5AA6;
    color:#FB5AA6;
    height: 10px;

}
.log {
    /* display: block; Ensure the logo is treated as a block element */
    /* position: absolute; */
    /* margin: 10px auto; Center the logo horizontally */
    width: 200px; /* Set a width for the logo */
    height: 100px; /*Maintain aspect ratio */
    left: 0; 
    bottom: 0;
    padding-top: 30px;
    
}

.section p {
    margin: 0; /* Remove default margin from paragraph */
    /* Add some padding if needed */
    word-spacing: 100px;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 100px;
    
}

.search_i{
    /* align-items: center;
    display: flex; */
    width: 50%;
    margin-left: 50px;

}

.search{
    align-items: center;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    padding-bottom: 20px;
    /* margin: ; */
}
.description{
    align-items:center;
    display: flex;
    margin-top: 70px;

}
.desc1{
    display: flex;
    margin-left: 80px;
    margin-right: 200px;
    
    /* font-family: "Brush Script MT", cursive; */
    /* font-family: "Pacifico", cursive; */
    /* font-family: "Great Vibes", cursive; */
    font-family: "Dancing Script", cursive;
    font-size: larger;
    /* align-items:center; */
}
.log1{
    width:400px;
    height: 300px;
    /* margin-right: 80px; */
    border: 2px solid #38B6FF;
   
    /* justify-items: center; */
    /* padding-left: 200px;  */
    /* margin-left: 800px; */
    
}
.buy{
    text-align: center;
    color: aliceblue;
    margin-left: 80px;
    /* background-color: #38B6FF; */
    margin-right: 80px;
    top:0%;
}
.pic_buy{
    background-color: #38B6FF;
    margin-right: 80px;
   
}
.log2{
    width: 400px;
    height: 300px;
    width: 100%; /* Adjust as needed */
    /*
    border: 2px solid #38B6FF;*/

}

.pick_section{
    display: flex;
    align-items: center; 
    align-items:center;
    display: flex;
    margin: 70px;
    /* display: flex;
    align-items: center;
    gap: 20px; */
    
}
.pick_desc{
    display: flex;
    color: aliceblue;
    margin-left: 20px;
    margin-right: 80px;
    font-size: larger;
    background-color: #38B6FF; 
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 10px;
    
   
}


.pic_img{
    background-color: #38B6FF;
    margin-right: 40px;
    border: 2px solid #38B6FF;
    /* flex: 1; /* Ensures the image section also takes up equal space */
    /*text-align: center; */

}
.buy1{
    text-align: center;
    color: aliceblue;
    margin-left: 80px;
    margin-right: 80px;
    top:0%;
    
}


/* tfgyuiouutyfughiojuytuuyuiouiytuyghuijouiy */

.description2{
    align-items:center;
    display: flex;
    margin-top: 70px;

}
.desc2{
    display: flex;
    margin-left: 80px;
    margin-right: 200px;
    
    /* font-family: "Brush Script MT", cursive; */
    /* font-family: "Pacifico", cursive; */
    /* font-family: "Great Vibes", cursive; */
    font-family: "Dancing Script", cursive;
    font-size: larger;
    /* align-items:center; */
}
.log3{
    width:400px;
    height: 300px;
    /* margin-right: 80px; */
    border: 2px solid #38B6FF;
   
    /* justify-items: center; */
    /* padding-left: 200px;  */
    /* margin-left: 800px; */
    
}
.buy3{
    text-align: center;
    color: aliceblue;
    margin-left: 80px;
    background-color: #38B6FF;
    margin-right: 80px;
    top:0%;
}

.pic_buy2{
    background-color: #38B6FF;
    margin-left: 80px;
}

/* tfgyuiouutyfughiojuytuuyuiouiytuyghuijouiy */

/* .pic_row{
    align-items: center;
    width: auto;
    height: 200px;

} */

.pick_section1{
    display: flex;
    align-items: center; 
    align-items:center;
    display: flex;
    margin: 70px;
    /* display: flex;
    align-items: center;
    gap: 20px; */
    
}