.container {
    background-color: #f0f0f0;
    margin: 150px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    width: auto; /* Adjusts the width automatically */
    max-width: 900px; /* Max width to prevent overflowing */
}

.inf {
    margin-left: 30%;
    border-radius: 15px;
}

.e_a {
    margin-left: 30%;
}

.pay_inf {
    padding-left: 30%;
    background-color: grey;
}

.footerLogo1 {
    margin-left: 40%;
}

.num, .exp, .cvv {
    border-radius: 15px;
    padding: 5px;
}

.sub {
    background-color: #FB5AA6;
    color: aliceblue;
    margin-left: 20%;
    border-radius: 10px;
    border-color: #FB5AA6;
    margin-bottom: 30px;
    padding: 10px;
}

.sub:hover {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.payment-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.basket {
    width: 45%;
}

.payment-form {
    width: 45%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

input[type="number"] {
    width: 50px;
    text-align: center;
}

.account{
    font-weight: 600;
    margin: 0 10px;
    width: 100px;
    padding: 10px 0;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: 0.4s;
    color: white;
    background-color: #FB5AA6;
    border-radius: 4px;
    border: 3px solid rgb(0, 0, 0);
}

.account:hover {
    font: white;
    width:110px;
    box-shadow: 0 0 20px #FB5AA6;
  }