.ship_log{
    margin: 200px;
    margin-left: 35%;
    margin-right: 35%;
    /* color: #FB5AA6; */
    background-color: #f0f0f0;
    padding: 20px;
    padding-left: 30px;
    border-radius: 15px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);

}
.sub1{
    background-color:  #FB5AA6;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
.sub1:hover{
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
.pay_pag{
    padding-left: 30%;
    background-color: grey;
    margin: 0;
}


.account{
    font-weight: 600;
    margin: 0 10px;
    width: 100px;
    padding: 10px 0;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: 0.4s;
    color: white;
    background-color: #FB5AA6;
    border-radius: 4px;
    border: 3px solid rgb(0, 0, 0);
}

.account:hover {
    font: white;
    width:110px;
    box-shadow: 0 0 20px #FB5AA6;
  }

.section p {
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    margin: 0; 
    word-spacing: 10%;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 5%;
  }

  #sweets, #chocolate, #savoury, #drinks, #biscuits {
    background-color: #8252b8 ;
}

@media only screen and (max-width: 500px) {
    .ship_log {
        width: 80%;
        padding: 10px;
        margin-right: 100px;
        background-color: #f0f0f0; /* Keep your desired background */
        border-radius: 15px;
    }
    .row{
        margin-left: -40%;
        margin-right: 25%;
        
       }

    .sub1 {
        padding: 6px;
        font-size: 14px;
    }

    .account {
        width: 80px;
        padding: 6px 0;
        font-size: 12px;
    }

    .account:hover {
        width: 90px;
    }

    .section p {
        font-size: 12px;
        padding: 5px;
    }

    #sweets, #chocolate, #savoury, #drinks, #biscuits {
        font-size: 12px;
        padding: 6px;
    }
}