body {
    background-color: #ffffff;
    color: #333;
    
  }
  
  input[type=text] {
      width: 50%;
      padding: 12px 20px;
      display: block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-left: auto; 
      margin-right: auto;  
  }
    
    input[type=submit]:hover {
      background-color:  pink;
      
    }
    
    .contactform {
      margin-top: 20px;
      padding: 20px;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      width: 50%; 
      margin-left: auto; 
      margin-right: auto; 
    }
      
    .contactme h1{
      text-align: center;
    }
  
    .contactform h2{
      text-align: center;
    }
  
    .contactform p{
      text-align: center;
    }
    
    #mainHeader {
      position: relative;
      background-color: #FB5AA6; 
      color: #fff;
      padding: 20px;
      text-align: center;
  }
  
  .mbar {
    background-color: #38B6FF; 
    min-height: 100px;
    word-spacing: 50px;
    
    
  }
  
  header {
    position: relative; 
  }
  .bar{
    background-color: #FB5AA6;
    color:#FB5AA6;
    height: 10px;
  
  }
  .log {
    width: 200px; 
    height: auto; 
    left: 0; 
    bottom: 0;
    padding-top: 30px;
    
  }
  
  .section p {
    margin: 0; 
    word-spacing: 100px;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 100px;
    
  }
  
  .search_i{
    width: 50%;
    margin-left: 50px;
  
  }
  
  .search{
    align-items: center;
    display: flex;
    justify-content: center; 
    padding-bottom: 20px;
    
  }
  footer {
    background-color: #f0f0f0;
    padding: 2px;
    text-align: center;   
  }
  .footerNav {
    margin-top: 5px;
  }
  .footerNav p {
    font-size: 14px;
    text-align: center;
  }
  .footerNav ul {
    padding: 0;
  }
  .footerNav ul li {
    display: inline-block;
    margin: 0 5px;
  }
  .footerNav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
  }
  .footerNav ul li a:hover {
    background-color: lightpink ;
  }
  .footerSocial {
    margin-top: 10px;
  }
  .socialIcons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .footerCopyright {
    margin-top: 10px;
    font-size: 12px;
    color: #888;
  }

  .query-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1px));
    gap: 1rem;
    padding: 1rem;
}

.product-image {
    height: 185px;
    width: 185px;   
    border-radius: 5%;
}

.product-image:hover {
  -webkit-filter: brightness(90%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

td, th {
    white-space: pre-wrap;
}

a, u {
    text-decoration: none;
    color: black;
}
.query-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1px));
  gap: 1rem;
  padding: 1rem;
}

.product-image {
  height: 185px;
  width: 185px;   
  border-radius: 5%;
}

.product-image:hover {
-webkit-filter: brightness(90%);
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}

td, th {
  white-space: pre-wrap;
}

a, u {
  text-decoration: none;
  color: black;
}

.account{
  font-weight: 600;
  margin: 0 10px;
  width: 100px;
  padding: 10px 0;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: 0.4s;
  color: white;
  background-color: #FB5AA6;
  border-radius: 4px;
  border: 3px solid rgb(0, 0, 0);
}

.account:hover {
  font: white;
  width:110px;
  box-shadow: 0 0 20px #FB5AA6;
}