.query-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1.2px));
    gap: 10rem;
    padding: 1rem;
}

.product-image {
    height: 185px;
    width: 185px;
}

td, th {
    white-space: pre-wrap;
}

a, u {
    text-decoration: none;
}

